// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }
.center {
  display: block;
  margin: auto;
}
.right {
  text-align: right;
  font-size: small;
  a {
    text-decoration: none;
  }
}

.emphasis_text {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(191, 13, 63);
  font-size: 1.2rem;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-container > .flex-contents {
  display: block;
  border: 1px solid rgb(191, 13, 63);
  margin-bottom: 1rem;
  padding: 20px;
  width: 70%;
  height: 24rem;

  @media (min-width: 48em) {
    width: 47.5%;
    margin-right: 5%;

    &:last-of-type,
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  @media (min-width: 75em) {
    width: 30%;
    margin-right: 5%;

    &:nth-child(2n + 2) {
      margin-right: 5%;
    }

    &:last-of-type,
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.flex-container > .flex-contents:hover {
  background-color: rgb(209, 143, 154);

  #feature_title {
    color: white;
  }
}

#feature_title {
  display: inline-block;
  margin: initial;
  color: rgb(197, 103, 119);
  font-size: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  height: 7rem;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

#feature_img {
  display: inline-block;
  margin: initial;
  width: 100%;
  height: 3rem;
  text-align: center;
}

#feature_content {
  display: inline-block;
  margin: initial;
  color: black;
  font-size: 1rem;
  padding-top: 3rem;
  width: 100%;
  font-weight: initial;
  text-align: center;
  line-height: normal;
}

.home_contents :hover {
  opacity: 0.7;
}

.home_buntton {
  $bg: #f3f8fa;
  $white: #fff;
  $black: #6e6e6e;

  @mixin transition(
    $property: all,
    $duration: 0.45s,
    $ease: cubic-bezier(0.65, 0, 0.076, 1)
  ) {
    transition: $property $duration $ease;
  }

  * {
    box-sizing: border-box;
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
      width: 12rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: "";
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }

  @supports (display: grid) {
    body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }

    #container {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.feature_card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #b4023c 20%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 15px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  //cursor: pointer;
  //transition: 0.5s;
}

.feature_card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #b4023c;//#1f194c;
  margin: 1em 1em;
}
.feature_card p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.feature_card > .feature_content {
  text-align: left;
}
.icon-wrapper {
  background-color: #bc0c3e;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.feature_card:hover {
  background-position: 0 100%;
}
.feature_card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #bc0c3e;
}
.feature_card:hover h3 {
  color: #ffffff;
}
.feature_card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}